/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 *= require foundation_and_overrides

 */

@import 'styleguide';

/*  FONTS  */
@font-face {
  font-family: arcade;
  src: url('fonts/arcade/ARCADE_I.TTF');
}

@font-face {
  font-family: arcade-n;
  src: url('fonts/arcade/ARCADE_N.TTF');
}

/*  GLOBAL STYLES */
body {
  background-image:
  linear-gradient(
    $color3, $color2
  );
}

#app {
  margin: 1rem;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
}

/*  NAVIGATION */
nav {
  h1 {
    font-family: chalkduster;
    text-shadow: 4px 4px #000000;
    font-style: italic;
    font-weight: 600;

    a {
      color: $color4;
    }
  }
}

.top-bar {
  background-color: $color2;
  padding: 1rem;
}

.user-name-display {
  font-family: arcade-n;
  font-weight: bold;
  background-color: $color2;
  margin-bottom: 0;
}

/*  GAMES INDEX PAGE */
.game-tile {
  height: 300px;
  width: 200px;
  background-color: $color3;
  margin: auto;
  border-radius: 15px;

  img {
    margin-top: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
  }

  h4 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
    font-size: small;
    font-weight: 800;
    color: $color5;
    font-family: arcade;
    text-shadow: 1px 1px #000000;
  }
}

.game-index-margin {
  margin-top: 25px;
}

.right {
  li {
    list-style: none;
    background-color: $color2;
  }

  li:nth-child(n+1)::before {
    content: "🕹 ";
  }

  li:nth-child(n+2)::before {
    content: "🎮 ";
  }
}

li {
  a {
    text-shadow: 1px 1px #000000;
    font-family: chalkduster;
    font-style: italic;
    font-weight: 600;
    color: $color1;
  }
}

a:hover {
  font-weight: 600;
  color: $color1;
}

.button {
  font-weight: 400;
  font-family: chalkduster;
  width: 100%;
  background-color: $color1;
}

.button:hover {
  font-weight: 800;
  font-family: chalkduster;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: $color1;
}

.container {
  border: none;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 10px solid transparent;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formtitle {
  h4 {
    font-weight: 800;
    text-shadow: 1px 1px #000000;
    font-family: chalkduster;
    margin: 3rem;
    color: $color4;
  }
}

.formdiv {
  justify-content: center;
}

.callout {
  margin: auto;
  background-color: $color2;
  border-width: 0;
  border-radius: 10px;
}

label {
  font-family: arcade-n;
  font-size: 15px;
  font-style: italic;
  color: $color5;
  text-shadow: 1px 1px #000000;
}

.log {
  text-align: center;
  padding: 1rem;
  h2 {
    color: $color5;
    font-family: arcade;
    text-shadow: 2px 2px #000000;
  }
}

#new_user {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.deviselinks {
  a {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
  }
}

.vertical {
  resize: vertical;
}

em {
  font-family: arcade-n;
  font-size: 10px;
  font-style: italic;
  color: $color4;
  text-shadow: 1px 1px #000000;
}
