
// styleguide 1
// accent
$color1: #B23850;
$color2: #3B8BEB;
$color3: #E7E3D4;
$color4: #C4DBF6;
$color5: #8590AA;

// styleguide 2
// $color1: #8d8741;
// $color2: #659dbd;
// $color3: #daad86;
// $color4: #bc986a;
// $color5: #fbeec1;