
// Color layout still up in the air... save commented colors

// styleguide 1

// $color1: #B23850;
// $color2: #3B8BEB;
// $color3: #E7E3D4;
// $color4: #C4DBF6;
// $color5: #8590AA;

// styleguide 2
// $color1: #8d8741;
// $color2: #659dbd;
// $color3: #daad86;
// $color4: #bc986a;
// $color5: #fbeec1;

// styleguide 3
$color1: #15DB95;
// $color2: #080F5B;
// $color3: #0d19A3;
$color4: #F4E4C1;
$color5: #E4C580;

$color2: #4cbbb9 ;
$color3: #77d8d8;
